body{
  margin: 0;
  padding: 0;
  background-color:var(--colorBlanco);
}
p{
  color:var(--colorLetra);
}
:root{
  --colorLetra:#3333;
  --colorGris:rgb(70, 66, 66);
  --colorAzul:rgb(116, 116, 219);
  --colorMarino:rgb(142, 230, 215);
  --colorBlanco: rgb(239, 248, 248);
}
